#meuBody{
    background-image: url("bg1.png");
    background-position: center;
    background-size: cover;
}
#meuCanvas{
    background-color: white;
    border-style: ridge;
    border-width: 10px;
}
h4{
    color: red;
    font-size: 40px;
}
span{
    margin-right: 20px;
}
button{
    color: aquamarine;
    font-size: 20px;
}
